/node_modules
/public/hot
/public/storage
/public/invoices/pathans/*
/public/invoices/lucky_draw/*
/public/invoices/lucky_list/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
